<div class="row">
    <div class="col-sm-12 col-md-12 intro-text">
        <h1 style="text-align: center; color: #023D93">Let’s Connect!</h1>
        <div class="header-subtitle">
            <p>iMerit turns raw information into high-quality structured data for machine learning and artificial intelligence applications. Our full-time workforce have domain knowledge and expertise in data labeling, extraction and enrichment for Computer Vision, Natural Language Processing and many other forms of content. Let’s get started today!</p>
        </div>
    </div>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" required>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Contact No</label>
    <input type="tel" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button type="button" class="btn btn-light">Submit</button>
<section class="contact-section">
    <div class="container">
        <h2 class="text-center form text-margin-bottom">TWO WAYS TO START TODAY</h2>
        <div class="row justify-content-between">
            <div class="col-lg-5 left-col">
                <h4 class="form">IMERIT SELF-SERVE TOOL</h4>
                <div class="text-box-1 purple">
                    <h2>Kickstart your data labeling project today!</h2>
                    <p>Our step-by-step guide is quick and easy.&nbsp; Click on the button below to securely share your project details, requirements and sample datasets.</p>
                    <p>This fast-track process provides a customized quote, recommendations for choosing the best tool for the task and actionable insights on how to achieve the highest quality data. </p>
                    <div class="text-right">
                        <a class="btn btn-purple-1 spai-bg-prepared" href="https://start.imerit.io/accounts/signup/?__hstc=265604304.1840e4ce6191648a097d64f3b87f1860.1640883355586.1641488278305.1641491711857.6&amp;__hssc=265604304.1.1641491711857&amp;__hsfp=3379298706" target="">
                            Start now <svg id="button-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 30 40" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><path id="triangle" d="M0.4,0.5h28.5l-28.5,39V0.5z" fill="none" stroke="#fff" stroke-width="1"></path><line id="line" x1="0" y1="20" x2="0" y2="20" fill="none" stroke="#fff" stroke-width="1" stroke-miterlimit="10"></line></svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 right-col">
                <h4 class="form">TALK TO AN EXPERT</h4>
                <div class="form button-right form-border-contact-us">
                    <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    @*<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js" class="spai-bg-prepared"></script>
                        <script type="text/javascript" class="spai-bg-prepared" data-hubspot-rendered="true">
                            hbspt.forms.create({
                                region: "na1",
                                portalId: "7583693",
                                formId: "b5795202-6d90-406b-a89f-7e977d97630e",
                                sfdcCampaignId: "7011Y000002WJQlQAO"
                            });
                        </script><div class="hbspt-form" id="hbspt-form-1641491711381-9058902850"><div id="hbspt-forms-recaptchaTarget-1"></div><iframe id="hs-form-iframe-1" class="hs-form-iframe spai-bg-prepared" scrolling="no" width="100%" style="width: 100%; position: static; border: none; display: block; overflow: hidden; height: 867px;" height="867"></iframe><div id="hs-outer-captcha-target-1" style="display: none; width: 0px; height: 0px;" class="spai-bg-prepared"><div class="grecaptcha-badge spai-bg-prepared" data-style="inline" style="width: 256px; height: 60px; box-shadow: gray 0px 0px 5px;"><div class="grecaptcha-logo"><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/enterprise/anchor?ar=1&amp;k=6Ld_ad8ZAAAAAAqr0ePo1dUfAi0m4KPkCMQYwPPm&amp;co=aHR0cHM6Ly9pbWVyaXQubmV0OjQ0Mw..&amp;hl=en&amp;v=-FJgYf1d3dZ_QPcZP7bd85hc&amp;size=invisible&amp;badge=inline&amp;cb=g2abobhs4br" width="256" height="60" role="presentation" name="a-rm69seavio0f" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><div class="grecaptcha-error"></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div></div>*@
                </div>
            </div>
        </div>
        <div class="text-center form text-margin-top">Your privacy is important to us. Check out our&nbsp;<a href="https://imerit.net/privacy-policy/">privacy policy</a>&nbsp;for more information.</div>
    </div>
</section>